<ngb-carousel *ngIf="images">

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <!-- <img [src]="images[0]" alt="Random first slide"  style="width: 100vw!important;height: 50vh;object-fit: contain;"> -->
            <!-- <img src="/assets/img/mercedez.jpeg" class="center"  alt="Random second slide"  style="max-height:90vh; width: 100%;"> -->
            <div class="container2" style="background-image: url('/assets/img/mercedez.jpeg') !important;"></div>
        </div>
        <div class="carousel-caption">
            <h3>Service stop for your luxury cars</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="container2" style="background-image: url('/assets/img/slider-3.jpg') !important;"></div>
        </div>
        <div class="carousel-caption">
            <h3>Free pickup from your door step</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="container2" style="background-image: url('/assets/img/audi.jpeg') !important;"></div>
        </div>
        <div class="carousel-caption">
            <h3>Free pickup from your door step</h3>
        </div>
    </ng-template>

    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/assets/img/honda-city.jpeg"  class="center" alt="Random second slide"  style="max-height: 50vh;">
        </div>       
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/assets/img/kodaq.jpg" class="center" alt="Random second slide"  style="max-height: 50vh;">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="/assets/img/swift.jpeg" class="center" alt="Random second slide"  style="max-height: 50vh;">
        </div>
    </ng-template> -->
    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" style="width: 100vw!important;height: 50vh;">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template> -->
</ngb-carousel>


<div style="background: black;height: 50vh;">
    <div style="padding: 100px;">
        <h1 class="center-div">Paramount Motors</h1>
        <p class="center-div">Your trusted car service partner</p>
    </div>
</div>

